<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Pink: Form</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<!-- Main header -->
	{{>header}}
	<!-- Main -->
	{{>main-form}}
	<!-- Main footer -->
	<footer class="main-footer">
		{{>footer-inside}}
	</footer>
	<!-- Modal window success sending -->
	{{>sucsess-popup}}
	<!-- Modal windows failure sending -->
	{{>failure-popup}}
	<script src="js/script.js"></script>
</body>
</html>