<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Pink: Form</title>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700&amp;subset=latin,cyrillic'>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<!-- Main header -->
	{{>header}}
	{{!-- {{>header active="true"}} --}}
	<!-- Main -->
	{{>main-form}}
	<!-- Main footer -->
	{{>footer}}
	<!-- Modal window success sending -->
	{{>success-popup}}
	<!-- Modal windows failure sending -->
	{{>failure-popup}}
	<script src="js/script.js"></script>
</body>
</html>