<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Pink: Main</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<!-- Main header -->
	{{>header}}
	<!-- Main -->
	{{>main-index}}
	<!-- Main footer -->
	{{>footer mobile="main-footer--hide"}}
	<script src="js/script.js"></script>
</body>
</html>
