<div class="achievements">
	<div class="achievements__inner">
		<fieldset class="achievements__fieldset">
			<legend class="achievements__title">
				Ваши безбашенные достижения в путешествии
			</legend>
			<label>
				<input
				class="achievements__input"
				type="checkbox"
				name="shark"
				checked
				>
				Сделал селфи с акулой
			</label>
			<label>
				<input
				class="achievements__input"
				type="checkbox"
				name="beach"
				checked
				>
				Обгорел на пляже
			</label>
			<label>
				<input
				class="achievements__input"
				type="checkbox"
				name="chuck_norris"
				>
				Видел Чака Норриса
			</label>
			<label>
				<input
				class="achievements__input"
				type="checkbox"
				name="souvenirs"
				>
				Накупил сувениров
			</label>
			<label>
				<input
				class="achievements__input"
				type="checkbox"
				name="tower"
				checked
				>
				Удержал башню
			</label>
			<label>
				<input
				class="achievements__input"
				type="checkbox"
				name="hotel"
				>
				Разгромил отель
			</label>
		</fieldset>
	</div>
</div>
