<div class="achievements">
	<div class="achievements__inner">
		<fieldset class="achievements__fieldset">
			<legend class="achievements__title" align="center">
				Ваши безбашенные достижения в путешествии
			</legend>
			<div class="achievements__wrapper">
				<input
				class="achievements__input"
				id="item-1"
				type="checkbox"
				name="shark"
				checked
				>
				<label class="achievements__label" for="item-1">
					Сделал селфи с акулой
				</label>
				<input
				class="achievements__input"
				id="item-2"
				type="checkbox"
				name="beach"
				checked
				>
				<label class="achievements__label" for="item-2">
					Обгорел на пляже
				</label>
			</div>
			<div class="achievements__wrapper">
				<input
				class="achievements__input"
				id="item-3"
				type="checkbox"
				name="chuck_norris"
				>
				<label class="achievements__label" for="item-3">
					Видел Чака Норриса
				</label>
				<input
				class="achievements__input"
				id="item-4"
				type="checkbox"
				name="souvenirs"
				>
				<label class="achievements__label" for="item-4">
					Накупил сувениров
				</label>
			</div>
			<div class="achievements__wrapper">
				<input
				class="achievements__input"
				id="item-5"
				type="checkbox"
				name="tower"
				checked
				>
				<label class="achievements__label" for="item-5">
					Удержал башню
				</label>
				<input
				class="achievements__input"
				id="item-6"
				type="checkbox"
				name="hotel"
				>
				<label class="achievements__label" for="item-6">
					Разгромил отель
				</label>
			</div>
		</fieldset>
	</div>
</div>
