<div class="applications">
	<div class="applications__inner">
		<fieldset class="applications__fieldset">
			<legend class="applications__title">
				С каким приложением путешествовали? *
			</legend>
			<input
			class="applications__input"
			id="iOS"
			type="radio"
			name="app"
			value="ios-app"
			checked
			>
			<label class="applications__label" for="iOS">
				Pink для iOS
			</label>
			<input
			class="applications__input"
			id="android"
			type="radio"
			name="app"
			value="android-app"
			>
			<label class="applications__label" for="android">
				Pink на Android
			</label>
			<input
			class="applications__input"
			id="winphone"
			type="radio"
			name="app"
			value="winphone-app"
			>
			<label class="applications__label" for="winphone">
				Windows Phone
			</label>
		</fieldset>
	</div>
</div>
