<div class="applications">
	<div class="applications__inner">
		<fieldset class="applications__fieldset">
			<legend class="applications__title">
				С каким приложением путешествовали? *
			</legend>
			<label>
				<input
				class="applications__input"
				type="radio"
				name="app"
				value="ios-app"
				checked
				>
				Pink для iOS
			</label>
			<label>
				<input
				class="applications__input"
				type="radio"
				name="app"
				value="android-app"
				>
				Pink на Android
			</label>
			<label>
				<input
				class="applications__input"
				type="radio"
				name="app"
				value="winphone-app"
				>
				Windows Phone
			</label>
		</fieldset>
	</div>
</div>
