<div class="companions">
	<div class="companions__inner">
		<fieldset class="companions__fieldset">
			<legend class="companions__title">
				Количество попутчиков *
			</legend>
			<!-- Companions quantity -->
			<div class="companions-counter">
				<a class="companions-counter__subtract" href="#"></a>
				<input
				class="companions-counter__input"
				type="text"
				name="companions"
				size="3"
				placeholder="2 чел"
				>
				<a class="companions-counter__add" href="#"></a>
			</div>
			<!-- Companion details -->
			<div class="companion-details">
				<div class="companion-details__col">
					<span class="companion-details__label">№</span>
					<span class="companion-details__num">1</span>
				</div>
				<div class="companion-details__col">
					<label class="companion-details__label" for="companion-name-1">
						Имя: *
					</label>
					<input
					class="companion-details__input"
					type="text"
					name="companion-name-1"
					id="companion-name-1"
					placeholder="Введите ваше имя"
					required
					>
					<label class="companion-details__label" for="companion-nick-1">
						Прозвище:
					</label>
					<input
					class="companion-details__input"
					type="text"
					name="companion-nick-1"
					id="companion-nick-1"
					placeholder="Ну как же без этого!"
					>
				</div>
			</div>
			<!-- Companion details -->
			<div class="companion-details">
				<div class="companion-details__col">
					<span class="companion-details__label">№</span>
					<span class="companion-details__num">2</span>
				</div>
				<div class="companion-details__col">
					<label class="companion-details__label" for="companion-name-2">
						Имя: *
					</label>
					<input
					class="companion-details__input"
					type="text"
					name="companion-name-2"
					id="companion-name-2"
					placeholder="Введите ваше имя"
					required
					>
					<label class="companion-details__label" for="companion-nick-2">
						Прозвище:
					</label>
					<input
					class="companion-details__input"
					type="text"
					name="companion-nick-2"
					id="companion-nick-2"
					placeholder="Ну как же без этого!"
					>
				</div>
			</div>
		</fieldset>
	</div>
</div>