<section class="contacts">
	<div class="contacts__inner">
		<h2 class="contacts__title">
			Остались вопросы? Свяжитесь с нами!
		</h2>
		<div class="contacts__wrapper">
			<div class="contacts__item">
				<h3 class="contacts__subtitle">
					Звоните:
				</h3>
				<a class="contacts__link" href="tel:+78125556666">
					+7 (812) 555-66-66
				</a>
			</div>
			<div class="contacts__item">
				<h3 class="contacts__subtitle">
					&nbsp;Пишите:
				</h3>
				<a class="contacts__link contacts__link--mail" href="mailto:mail@htmlacademy.ru">
					mail@htmlacademy.ru
				</a>
			</div>
			<div class="contacts__item">
				<h3 class="contacts__subtitle">
					Приезжайте в гости:
				</h3>
				<p class="contacts__link contacts__link--address">ул. Большая
					Конюшенная, 19/8
				</p>
			</div>
		</div>
	</div>
</section>
