<section class="contacts">
	<div class="contacts__inner">
		<h2 class="contacts__title">
			Остались вопросы? Свяжитесь с нами!
		</h2>
		<ul class="contacts__list">
			<li class="contacts__item">
				<h3 class="contacts__call-us">
					Звоните:
				</h3>
				<a class="contacts__tel-link" href="tel:+78125556666">
					+7 (812) 555-66-66
				</a>
			</li>
			<li class="contacts__item">
				<h3 class="contacts__write-us">
					Пишите:
				</h3>
				<a class="contacts__mail-link" href="mailto:mail@htmlacademy.ru">
					mail@htmlacademy.ru
				</a>
			</li>
			<li class="contacts__item">
				<h3 class="contacts__come-to-us">
					Приезжайте в гости:
				</h3>
				<span class="contacts__address">ул. Большая Конюшенная, 19/8</span>
			</li>
		</ul>
	</div>
</section>
