<div class="failure-popup failure-popup--hide">
	<h3 class="failure-popup__title">
		Что-то пошло не так!
	</h3>
	<p class="failure-popup__text">
		Проверьте поля, выделенные красным, скорее всего вы забыли их заполнить.
	</p>
	<a class="failure-popup__link" href="#">
		Ок
	</a>
</div>
