<section class="features">
	<div class="features__inner">
		<ul class="features__list">
			<li class="feature__item">
				<h3 class="features__title">
					Поднимает настроение
				</h3>
				<p class="features__text">
					Приложение позволит вам победить осеннюю хандру и депeрессию буквально в несколько кликов!
				</p>
			</li>
			<li class="feature__item">
				<h3 class="features__title">
					Меняет мир вокруг
				</h3>
				<p class="features__text">
					Сделайте снимок и украсьте его смайликом или текстовой подписью, чтобы усилить эффект
				</p>
			</li>
			<li class="feature__item">
				<h3 class="features__title">
					Заводит новых друзей
				</h3>
				<p class="features__text">
					Ставьте лайки, комментируте, делитесь фотографиями с друзьями и заводите новых
				</p>
			</li>
		</ul>
		<!-- Application screens -->
		{{>screens}}
	</div>
</section>
