<div class="main-footer__logo">
	<a class="logo" href="#">
		<img
		class="logo__img"
		src="http://placehold.it/150x80"
		width="150"
		height="80"
		alt="Pink"
		>
	</a>
</div>
<div class="social-block">
	<a class="social-block__link social-block__link--tw" href="#">
		Twitter
	</a>
	<a class="social-block__link social-block__link--fb" href="#">
		Facebook
	</a>
	<a class="social-block__link social-block__link--yt" href="#">
		YouTube
	</a>
</div>
<div class="copyright">
	<a class="copyright__link" href="#">
		<span class="copyright_text">Разработано</span>
		<img
		class="copyright__logo"
		src="img/htmlacademy.svg"
		width="20"
		height="20"
		alt="HTML Academy"
		>
	</a>
</div>
