<footer class="main-footer {{mobile}}">
	<div class="main-footer__inner">
		<!-- Footer logo -->
		{{>logo-footer}}
		<!-- Social links -->
		{{>social-block}}
		<!-- Copyright -->
		{{>copyright}}
	</div>
</footer>
