<form action="/action" method="post">
	<!-- User's full name -->
	{{>user-block}}
	<!-- Application's choice -->
	{{>applications}}
	<!-- Travel date -->
	{{>dates}}
	<!-- Travel companions -->
	{{>companions}}
	<!-- Travel achievements -->
	{{>achievements}}
	<!-- Travel photos -->
	{{>photos}}
	<div class="send">
		<div class="send__inner">
			<input
			class="send__button"
			type="submit"
			value="Отправить форму"
			>
			<span class="send__footnote">
				<span class="send__footnote send__footnote--color">*</span> — обязательные<span class="send__footnote send__footnote--extra">&nbsp;для заполнения&nbsp;</span>поля
			</span>
		</div>
	</div>
</form>
