<form action="/action" method="post">
	<!-- User's full name -->
	{{>user-block}}
	<!-- Application's choice -->
	{{>applications}}
	<!-- Travel date -->
	{{>dates}}
	<!-- Travel companions -->
	{{>companions}}
	<!-- Travel achievements -->
	{{!-- >achievements --}}
	<!-- Travel photos -->
	{{!-- >photos --}}
	<input
	class="btn-send"
	type="submit"
	value="Отправить форму"
	>
	<small class="form-footnote">
		<span class="form-footnote--color">*</span> — обязательные поля
	</small>
</form>
