<header class="main-header">
	<!-- Header logo -->
	<a class="logo" href="index.html">
		<img
		class="logo__img"
		src="http://placehold.it/150x80"
		width="150"
		height="80"
		alt="Pink"
		>
	</a>
	<a class="main-header__toggle  main-header__toggle--close" href=""></a>
	<!-- Main navigation -->
	<nav class="main-nav">
		<ul class="main-nav__list">
			<li class="main-nav__item">
				<a class="main-nav__link" href="#">
					Информация
				</a>
			</li>
			<li class="main-nav__item">
				<a class="main-nav__link" href="#">
					Блог
				</a>
			</li>
			<li class="main-nav__item">
				<a class="main-nav__link" href="#">
					Отзывы
				</a>
			</li>
			<li class="main-nav__item">
				<a class="main-nav__link" href="form.html">
					Конкурсы
				</a>
			</li>
		</ul>
	</nav>
</header>
