<header class="main-header">
	<div class="main-header__inner">
		<!-- Header logo -->
		{{>logo}}
		<!-- Menu toggle -->
		<a class="main-header__toggle  main-header__toggle--close" href=""></a>
		<!-- Main navigation -->
		{{>nav}}
	</div>
</header>
