<section class="info">
	<div class="info__inner">
		<!-- Info button -->
		<a class="btn-download" href="#">
			Скачать приложение
		</a>
		<!-- OS logos -->
		<div class="info__list">
			<img
			class="info__item"
			src="../img/apple-logo.svg"
			width="46"
			height="57"
			alt="Apple"
			>
			<img
			class="info__item"
			src="../img/android-logo.svg"
			width="42"
			height="47"
			alt="Android"
			>
			<img
			class="ifno__item"
			src="../img/microsoft-logo.svg"
			width="44"
			height="42"
			alt="Microsoft"
			>
		</div>
		<!-- Info text -->
		<p class="info__text">
			Доступно для iPhone, iPad, Android, Windows Phone, OS X, Windows 8
		</p>
	</div>
</section>
