<section class="intro">
	<div class="intro__inner">
		<!-- Intro title-->
		<h2 class="intro__title intro__title--form">
			Конкурс на самое безбашеное путешествие&nbsp;с&nbsp;Пинк
		</h2>
	</div>
</section>
