<section class="intro-form">
	<div class="intro-form__inner">
		<!-- Intro title-->
		<h2 class="intro-form__title">
			Конкурс на самое безбашеное путешествие&nbsp;с&nbsp;Пинк
		</h2>
	</div>
</section>
