<div class="main">
	<!-- Intro -->
	<section class="intro">
		<!-- Intro title-->
		<h2 class="intro__title">
			Взгляните на жизнь иначе!
		</h2>
		<!-- Intro button -->
		<a class="download-btn" href="#">
			Скачать приложение
		</a>
		<!-- OS logos -->
		<div class="intro-os__logos">
			<img
			class="intro-os__item"
			src="http://placehold.it/50x50"
			width="50"
			height="50"
			alt="Apple"
			>
			<img
			class="intro-os__item"
			src="http://placehold.it/50x50"
			width="50"
			height="50"
			alt="Android"
			>
			<img
			class="intro-os__item"
			src="http://placehold.it/50x50"
			width="50"
			height="50"
			alt="Microsoft"
			>
		</div>
		<!-- Intro text -->
		<p class="intro__text">
			Доступно для iPhone, iPad, Android, Windows Phone, OS X, Windows
		</p>
	</section>
	<!-- Promo -->
	<section class="promo">
		<h2 class="promo__title">
			Устали от серости мегаполиса?
		</h2>
		<h2 class="promo__title">
			Нам есть, что вам предложить!
		</h2>
	</section>
	<!-- Features -->
	{{>features}}
	<!-- Reviews-->
	{{>reviews}}
	<!-- Price plan -->
	{{>price-plan}}
	<!-- Contacts -->
	{{>contacts}}
	<!-- Map -->
	<div class="contacts__map">
	</div>
</div>
