<div class="main">
	<!-- Intro -->
	{{>intro-index}}
	<!-- Info -->
	{{>info}}
	<!-- Promo -->
	{{>promo}}
	<!-- Features -->
	{{>features}}
	<!-- Reviews-->
	{{>reviews}}
	<!-- Price plan -->
	{{>price-plan}}
	<!-- Contacts -->
	{{>contacts}}
	<!-- Map -->
	<div class="map">
	</div>
</div>
