<div class="main">
	<!-- Intro -->
	<section class="intro">
		<div class="intro__inner">
			<!-- Intro title-->
			<h2 class="intro__title">
				Взгляните на жизнь иначе!
			</h2>
			<!-- Intro button -->
			<a class="btn-download" href="#">
				Скачать приложение
			</a>
			<!-- OS logos -->
			<div class="intro__list">
				<img
				class="intro__item"
				src="http://placehold.it/48x55"
				width="48"
				height="55"
				alt="Apple"
				>
				<img
				class="intro__item"
				src="http://placehold.it/48x55"
				width="48"
				height="55"
				alt="Android"
				>
				<img
				class="intro__item"
				src="http://placehold.it/48x55"
				width="48"
				height="55"
				alt="Microsoft"
				>
			</div>
			<!-- Intro text -->
			<p class="intro__text">
				Доступно для iPhone, iPad, Android, Windows Phone, OS X, Windows
			</p>
		</div>
	</section>
	<!-- Promo -->
	<section class="promo">
		<div class="promo__inner">
			<h2 class="promo__title">
				Устали от серости мегаполиса?
			</h2>
			<h2 class="promo__title">
				Нам есть, что вам предложить!
			</h2>
		</div>
	</section>
	<!-- Features -->
	{{>features}}
	<!-- Reviews-->
	{{>reviews}}
	<!-- Price plan -->
	{{>price-plan}}
	<!-- Contacts -->
	{{>contacts}}
	<!-- Map -->
	<div class="contacts__map">
	</div>
</div>
