<div class="main">
	<!-- Intro -->
	<section class="intro">
		<!-- Intro title-->
		<h2 class="intro__title">
			Конкурс на самое безбашеное путешествие с Пинк
		</h2>
	</section>
	<!-- Promo -->
	<section class="promo">
		<h3 class="promo__text">
			Поделитесь своей историей и получите шанс выиграть ценный приз — 1000 миль на вашу бонусную карту!
		</h3>
	</section>
	<!-- Form -->
	{{>form}}
</div>
