<section class="mega-feature">
	<div class="mega-feature__inner">
		<div class="timer">
			<svg class="timer__img" version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			width="298.001px" height="345.097px" viewBox="0 0 298.001 345.097" enable-background="new 0 0 298.001 345.097"
			xml:space="preserve">
			<g>
				<path fill="#eeeeee" d="M293.057,157.98c-5.442-20.657-15.198-39.563-28.273-55.688l8.567-8.563c6.074-6.077,6.074-15.928,0-21.999
				c-3.334-3.34-7.78-4.656-12.129-4.333c-3.596,0.254-7.146,1.596-9.866,4.333l-8.563,8.56c-9.083-7.354-19.081-13.552-29.734-18.627
				c-9.617-4.558-19.751-8.195-30.338-10.669c-0.089-0.016-0.205-0.016-0.311-0.038c-4.587-1.065-9.204-1.985-13.962-2.613v-7.98
				V40.21v-1.306h6.879c10.737,0,19.446-8.709,19.446-19.474c0-10.724-8.709-19.43-19.446-19.43h-6.879h-38.891h-8.062
				c-1.713,0-3.356,0.288-4.96,0.697c0,0-0.009,0.029-0.02,0.029c-8.326,2.202-14.463,9.715-14.463,18.704
				c0,10.765,8.709,19.474,19.442,19.474h8.062v9.439C79.47,54.876,37.337,86.339,15.7,129.791
				c-4.32,8.658-7.893,17.745-10.454,27.238C1.846,169.485,0,182.555,0,196.089c0,64.417,40.952,119.159,98.227,139.946
				c15.871,5.734,32.922,9.062,50.772,9.062c7.435,0,14.736-0.559,21.853-1.633c0.762-0.096,1.484-0.321,2.251-0.451
				c20.966-3.432,40.528-11.17,57.596-22.392c23.571-15.496,42.378-37.464,54.081-63.389c8.424-18.701,13.222-39.326,13.222-61.144
				C298.001,182.92,296.276,170.153,293.057,157.98z M226.848,273.943c-14.194,14.189-31.581,23.877-50.54,28.735
				c-6.501,1.626-13.258,2.51-20.067,2.966c-0.971,0.061-1.881,0.23-2.845,0.241c-1.476,0.072-2.916,0.298-4.396,0.298
				c-4.044,0-8.062-0.26-12.034-0.688c-24.859-2.698-47.885-13.609-65.823-31.552c-20.794-20.793-32.258-48.454-32.258-77.854
				c0-2.328,0.198-4.599,0.334-6.896c1.659-26.815,12.766-51.821,31.924-70.969c2.383-2.372,4.875-4.595,7.421-6.736l0.016-0.013
				c19.75-16.48,44.379-25.5,70.421-25.5c4.758,0,9.438,0.327,14.051,0.929c14.462,1.872,28.247,6.572,40.743,13.759
				c0.136,0.083,0.286,0.184,0.409,0.279c8.15,4.745,15.798,10.447,22.646,17.282c1.608,1.621,3.067,3.334,4.549,5.031
				c0.054,0.054,0.104,0.12,0.167,0.184c3.025,3.447,5.729,7.142,8.292,10.888c1.629,2.442,3.264,4.894,4.694,7.431
				c8.845,15.449,13.851,32.852,14.386,51.07c0.038,1.088,0.152,2.147,0.152,3.261C259.088,225.489,247.645,253.15,226.848,273.943z"
				/>
			</g>
		</svg>
	</div>
	<div class="mega-feature__wrapper">
		<h3 class="mega-feature__title">Эффект
		на 24 часа!
		</h3>
		<p class="mega-feature__text">Британские ученые провели исследования
		и доказали,&nbsp;&nbsp; что положительный эффект
		от использования приложения длится
		целые сутки!
		</p>
		<a class="mega-feature__link" href="#">
			Узнать больше об исследовании
		</a>
	</div>
</div>
</section>
