<nav class="main-nav {{menu-active}}">
	<ul class="main-nav__list">
		<li class="main-nav__item">
			<a class="main-nav__link" href="index.html">
				Информация
			</a>
		</li>
		<li class="main-nav__item">
			<a class="main-nav__link" href="#">
				Блог
			</a>
		</li>
		<li class="main-nav__item">
			<a class="main-nav__link" href="#">
				Отзывы
			</a>
		</li>
		<li class="main-nav__item">
			<a class="main-nav__link" href="form.html">
				Конкурс
			</a>
		</li>
	</ul>
</nav>
