<div class="pagination">
	{{#1}}
		<span class="pagination__item pagination__item--active"></span>
	{{else}}
		<span class="pagination__item "></span>
	{{/1}}
	{{#2}}
		<span class="pagination__item pagination__item--active"></span>
	{{else}}
		<span class="pagination__item "></span>
	{{/2}}
		{{#3}}
		<span class="pagination__item pagination__item--active"></span>
	{{else}}
		<span class="pagination__item "></span>
	{{/3}}
</div>
