<div class="photos">
	<div class="photos__inner">
		<fieldset class="photos__fieldset">
			<legend class="photos__title" align="center">
				Ваши фотографии из поездки *
			</legend>
			<label class="photos__label" for="file">
				Загрузить фото
			</label>
			<input
			class="photos__input"
			id="file"
			type="file"
			name="photo"
			multiple="multiple"
			>
			<!-- Photo's preview -->
			<div class="preview">
				<div class="preview__item">
					<a class="preview__del" href="#"></a>
					<img
					class="preview__img"
					src="http://lorempixel.com/120/120/city"
					>
					<p class="preview__filename">
						img-1.jpg
					</p>
				</div>
				<div class="preview__item">
					<a class="preview__del" href="#"></a>
					<img
					class="preview__img"
					src="http://lorempixel.com/120/120/city"
					>
					<p class="preview__filename">
						img-1.jpg
					</p>
				</div>
				<div class="preview__item">
					<a class="preview__del" href="#"></a>
					<img
					class="preview__img"
					src="http://lorempixel.com/120/120/city"
					>
					<p class="preview__filename">
						img-1.jpg
					</p>
				</div>
				<div class="preview__item">
					<a class="preview__del" href="#"></a>
					<img
					class="preview__img"
					src="http://lorempixel.com/120/120/city"
					>
					<p class="preview__filename">
						img-1.jpg
					</p>
				</div>
				<div class="preview__item">
					<a class="preview__del" href="#"></a>
					<img
					class="preview__img"
					src="http://lorempixel.com/120/120/city"
					>
					<p class="preview__filename">
						img-1.jpg
					</p>
				</div>
				<div class="preview__item">
					<a class="preview__del" href="#"></a>
					<img
					class="preview__img"
					src="http://lorempixel.com/120/120/city"
					>
					<p class="preview__filename">
						img-1.jpg
					</p>
				</div>
				<div class="preview__item">
					<a class="preview__del" href="#"></a>
					<img
					class="preview__img"
					src="http://lorempixel.com/120/120/city"
					>
					<p class="preview__filename">
						img-1.jpg
					</p>
				</div>
				<div class="preview__item">
					<a class="preview__del" href="#"></a>
					<img
					class="preview__img"
					src="http://lorempixel.com/120/120/city"
					>
					<p class="preview__filename">
						img-1.jpg
					</p>
				</div>
			</div>
		</fieldset>
	</div>
</div>
