<div class="photos">
	<div class="photos__inner">
		<fieldset class="photos__fieldset">
			<legend class="photos__title">
				Ваши фотографии из поездки *
			</legend>
			<input
			class="photos__input"
			type="file"
			name="photo"
			>
			<!-- Photo's preview -->
			<div class="uploaded-photos">
				<div class="uploaded-item">
					<a class="uploaded-item__del" href="#"></a>
					<img
					class="uploaded-item__img"
					src="http://placehold.it/50x50"
					width="50"
					height="50"
					alt="img-1.jpg"
					>
					<p class="uploaded-item__filename">
						img-1.jpg
					</p>
				</div>
				<div class="uploaded-item">
					<a class="uploaded-item__del" href="#"></a>
					<img
					class="uploaded-item__img"
					src="http://placehold.it/50x50"
					width="50"
					height="50"
					alt="img-2.jpg"
					>
					<p class="uploaded-item__filename">
						img-2.jpg
					</p>
				</div>
				<div class="uploaded-item">
					<a class="uploaded-item__del" href="#"></a>
					<img
					class="uploaded-item__img"
					src="http://placehold.it/50x50"
					width="50"
					height="50"
					alt="img-3.jpg"
					>
					<p class="uploaded-item__filename">
						img-3.jpg
					</p>
				</div>
			</div>
		</fieldset>
	</div>
</div>
