<table class="price-table">
	<tr class="price-table__row">
		<th class="price-table__head">&nbsp;</th>
		<th class="price-table__head">
			<span class="price-table__title">
				База
			</span>
			<span class="price-table__cost">
				1,99 USD
			</span>
		</th>
		<th class="price-table__head price-table__head--hit ">
			<span class="price-table__title">
				Стандарт
			</span>
			<span class="price-table__cost">
				3,99 USD
			</span>
		</th>
		<th class="price-table__head">
			<span class="price-table__title">
				Анлим
			</span>
			<span class="price-table__cost">
				9,99 USD
			</span>
		</th>
	</tr>
	<tr class="price-table__row">
		<td class="price-table__col">
			<span class="price-table__text">
				Розовый фильтр
			</span>
		</td>
		<td class="price-table__col price-table__col--yes">
			<span class="price-table__text price-table__text--hide">
				Розовый фильтр
			</span>
		</td>
		<td class="price-table__col price-table__col--yes">
			<span class="price-table__text price-table__text--hide">
				Розовый фильтр
			</span>
		</td>
		<td class="price-table__col price-table__col--yes">
			<span class="price-table__text price-table__text--hide">
				Розовый фильтр
			</span>
		</td>
	</tr>
	<tr class="price-table__row">
		<td class="price-table__col">
			<span class="price-table__text">
				Смайлики
			</span>
		</td>
		<td class="price-table__col price-table__col--no">
			<span class="price-table__text price-table__text--hide">
				Смайлики
			</span>
		</td>
		<td class="price-table__col price-table__col--yes">
			<span class="price-table__text price-table__text--hide">
				Смайлики
			</span>
		</td>
		<td class="price-table__col price-table__col--yes">
			<span class="price-table__text price-table__text--hide">
				Смайлики
			</span>
		</td>
	</tr>
	<tr class="price-table__row">
		<td class="price-table__col">
			<span class="price-table__text">
				Комментарии
			</span>
		</td>
		<td class="price-table__col price-table__col--no">
			<span class="price-table__text price-table__text--hide">
				Комментарии
			</span>
		</td>
		<td class="price-table__col price-table__col--no">
			<span class="price-table__text price-table__text--hide">
				Комментарии
			</span>
		</td>
		<td class="price-table__col price-table__col--yes">
			<span class="price-table__text price-table__text--hide">
				Комментарии
			</span>
		</td>
	</tr>
</table>