<section class="price-plan">
	<div class="price-plan__inner">
		<!-- Price table slider -->
		<div class="price-plan-slider">
			<!-- Price slide -->
			<div class="price-plan__item">
				<!-- Price title -->
				<div class="price-plan__title-wrap">
					<h3 class="price-plan__title">
						База
					</h3>
					<span class="price-plan__value">
						1,99 USD
					</span>
				</div>
				<!-- Application feature set -->
				<ul class="price-plan__feature-list">
					<li class="price-plan__feature">
						<label class="price-plan__feature-label" for="filter">
							<input
							class="price-plan__feature-item"
							type="checkbox"
							id="filter"
							checked
							disabled
							>
							Розовый фильтр
						</label>
					</li>
					<li class="price-plan__feature">
						<label class="price-plan__feature-label">
							<input
							class="price-plan__feature-item"
							type="checkbox"
							disabled
							>
							Смайлики
						</label>
					</li>
					<li class="price-plan__feature">
						<label class="price-plan__feature-label">
							<input
							class="price-plan__feature-item"
							type="checkbox"
							disabled
							>
							Комментарии
						</label>
					</li>
				</ul>
			</div>
			<!-- Price slide -->
			<div class="price-plan__item">
				<!-- Price title -->
				<div class="price-plan__title-wrap">
					<h3 class="price-plan__title">
						Стандарт
					</h3>
					<span class="price-plan__value">
						3,99 USD
					</span>
				</div>
				<!-- Application feature set -->
				<ul class="price-plan__feature-list">
					<li class="price-plan__feature">
						<label class="price-plan__feature-label">
							<input
							class="price-plan__feature-item"
							type="checkbox"
							checked
							disabled
							>
							Розовый фильтр
						</label>
					</li>
					<li class="price-plan__feature">
						<label class="price-plan__feature-label">
							<input
							class="price-plan__feature-item"
							type="checkbox"
							checked
							disabled
							>
							Смайлики
						</label>
					</li>
					<li class="price-plan__feature">
						<label class="price-plan__feature-label">
							<input
							class="price-plan__feature-item"
							type="checkbox"
							disabled
							>
							Комментарии
						</label>
					</li>
				</ul>
			</div>
			<!-- Price slide -->
			<div class="price-plan__item">
				<!-- Price title -->
				<div class="price-plan__title-wrap">
					<h3 class="price-plan__title">
						Анлим
					</h3>
					<span class="price-plan__value">
						9,99 USD
					</span>
				</div>
				<!-- Application feature set -->
				<ul class="price-plan__feature-list">
					<li class="price-plan__feature">
						<label class="price-plan__feature-label">
							<input
							class="price-plan__feature-item"
							type="checkbox"
							checked
							disabled
							>
							Розовый фильтр
						</label>
					</li>
					<li class="price-plan__feature">
						<label class="price-plan__feature-label">
							<input
							class="price-plan__feature-item"
							type="checkbox"
							checked
							disabled
							>
							Смайлики
						</label>
					</li>
					<li class="price-plan__feature">
						<label class="price-plan__feature-label">
							<input
							class="price-plan__feature-item"
							type="checkbox"
							checked
							disabled
							>
							Комментарии
						</label>
					</li>
				</ul>
			</div>
		</div>
		<!-- Pagination -->
		{{>pagination 2="true"}}
	</div>
</section>
