<section class="promo">
	<div class="promo__inner">
		<h2 class="promo__title">
			Устали от серости мегаполиса?
		</h2>
		<h2 class="promo__title">
			Нам есть, что вам предложить!
		</h2>
	</div>
</section>