<section class="promo">
	<div class="promo__inner">
		<p class="promo__text promo__text--form">
			Поделитесь своей историей и получите шанс выиграть ценный приз — 1000 миль на вашу бонусную карту!
		</p>
	</div>
</section>
