<section class="promo">
	<div class="promo__inner promo__inner--form">
		<p class="promo__text promo__text--form">Поделитесь своей историей и получите шанс выиграть ценный приз — 1000 миль на вашу бонусную карту!<span class="promo__text promo__text--hide"> Пожалуйста, заполните форму ниже:</span>
		</p>
	</div>
</section>
