<section class="reviews">
	<div class="reviews__inner">
		<!-- Reviews slider -->
		<div class="reviews__slider">
			<!-- Slide -->
			{{>review}}
			<!-- Pagination -->
			{{>pagination}}
		</div>
	</div>
</section>
