<article class="review review--active">
	<h2 class="review__user">
		Николай Петров
	</h2>
	<p class="review__description">
		25 лет, водитель трамвая
	</p>
	<p class="review__text">
		<span class="review__text review__text--quotes">&laquo;</span>Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии!<span class="review__text review__text--quotes">&raquo;</span>
	</p>
</article>
