<section class="reviews">
	<div class="reviews__inner">
		<!-- Reviews slider -->
		<div class="reviews__slider">
			<!-- Quotes symbol -->
			<svg class="reviews__decor" version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			width="78.673px" height="63.788px" viewBox="0 0 78.673 63.788" enable-background="new 0 0 78.673 63.788" xml:space="preserve">
			<g>
				<path fill="#efefef" d="M72.354,39.632c-2.797-2.401-6.636-3.604-11.518-3.604h-5.67c0.473-4.081,1.278-7.397,2.421-9.948
				c1.141-2.551,2.854-5.044,5.139-7.477c2.363-2.51,4.685-4.531,6.97-6.063c2.283-1.53,5.274-3.356,8.978-5.477L74.42,0
				c-2.441,1.495-5.474,3.42-9.096,5.779c-3.623,2.359-7.048,5.228-10.276,8.607c-3.151,3.302-5.83,7.056-8.033,11.261
				c-2.206,4.204-3.308,8.861-3.308,13.97c0,7.232,1.456,13.07,4.371,17.511c2.913,4.44,7.755,6.661,14.529,6.661
				c4.33,0,7.737-1.436,10.218-4.311s3.721-5.967,3.721-9.273C76.546,45.559,75.147,42.034,72.354,39.632z"/>
				<path fill="#efefef" d="M19.019,18.603c2.362-2.51,4.685-4.531,6.97-6.063c2.283-1.53,5.274-3.356,8.978-5.477L30.713,0
				c-2.441,1.495-5.475,3.42-9.095,5.779c-3.624,2.359-7.05,5.228-10.278,8.607c-3.149,3.302-5.828,7.056-8.032,11.261
				C1.103,29.851,0,34.508,0,39.616c0,7.232,1.457,13.07,4.371,17.511c2.912,4.44,7.756,6.661,14.529,6.661
				c4.33,0,7.737-1.436,10.218-4.311c2.481-2.875,3.722-5.967,3.722-9.273c0-4.646-1.399-8.17-4.194-10.572
				c-2.796-2.401-6.635-3.604-11.517-3.604h-5.671c0.473-4.081,1.3-7.416,2.481-10.007C15.12,23.432,16.812,20.958,19.019,18.603z"/>
			</g>
			</svg>
			<!-- Previous slide arrow -->
			<a class="reviews__previous" href="#">
				<svg class="reviews_img" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			width="21.706px" height="41.719px" viewBox="0 0 21.706 41.719" enable-background="new 0 0 21.706 41.719" xml:space="preserve">
					<path fill="#283645" d="M2.045,20.859L21.458,1.446c0.331-0.331,0.331-0.867,0-1.198c-0.33-0.331-0.867-0.331-1.197,0L0.248,20.261
			c-0.331,0.33-0.331,0.867,0,1.197l20.013,20.013c0.164,0.165,0.382,0.248,0.599,0.248s0.434-0.083,0.599-0.248
			c0.331-0.331,0.331-0.867,0-1.198L2.045,20.859z"/>
				</svg>
			</a>
			<!-- Next slide arrow -->
			<a class="reviews__next"  href="#">
				<svg class="reviews_img" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		width="21.706px" height="41.719px" viewBox="0 0 21.706 41.719" enable-background="new 0 0 21.706 41.719" xml:space="preserve">
					<path fill="#283645" d="M19.661,20.859L0.248,1.446c-0.331-0.331-0.331-0.867,0-1.198c0.33-0.331,0.867-0.331,1.197,0l20.013,20.012
		c0.33,0.33,0.33,0.867,0,1.197L1.445,41.471c-0.164,0.165-0.382,0.248-0.599,0.248s-0.434-0.083-0.599-0.248
		c-0.331-0.331-0.331-0.867,0-1.198L19.661,20.859z"/>
				</svg>
			</a>
			<!-- Slide -->
			{{>review}}
			<!-- Pagination -->
			{{>pagination 1="true"}}
		</div>
	</div>
</section>
