<section class="reviews">
	<!-- Reviews slider -->
	<div class="reviews-slider">
		<!-- Slide -->
		<article class="review">
			<h1 class="review__user">
				Николай Петров
			</h1>
			<p class="review__text">
				&laquo;Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии!&raquo;
			</p>
		</article>
		<!-- Slide -->
		<article class="review">
			<h1 class="review__user">
				Ipsum Lorem
			</h1>
			<p class="review__text">
				&laquo; Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident!&raquo;
			</p>
		</article>
		<!-- Slide -->
		<article class="review">
			<h1 class="review__user">
				Lorem Ipsum
			</h1>
			<p class="review__text">
				&laquo; Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident!&raquo;
			</p>
		</article>
	</div>
	<!-- Paginator -->
	<div class="paginator">
		<span class="paginator__item  paginator__item--active"></span>
		<span class="paginator__item"></span>
		<span class="paginator__item"></span>
	</div>
	<!-- Application screen -->
	<img
	class="app-screen"
	src="http://placehold.it/160x270"
	width="160"
	height="270"
	alt="iPhone"
	>
</section>
