<article class="review review--active">
	<h1 class="review__user">
		Николай Петров
	</h1>
	<p class="review__text">
		&laquo;Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии!&raquo;
	</p>
</article>
