<ul class="screens">
	<li class="screens__item">
		
	</li>
	<li class="screens__item">
		
	</li>
	<li class="screens__item">
		<img
		class="screens__img"
		src="../img/iphone-screen-mobile-3@1x.png"
		width="142"
		height="251"
		alt="iPhone"
		>
	</li>
</ul>
