<div class="social-block">
	<a class="social-block__link social-block__link--tw" href="#">
		Twitter
	</a>
	<a class="social-block__link social-block__link--fb" href="#">
		Facebook
	</a>
	<a class="social-block__link social-block__link--yt" href="#">
		YouTube
	</a>
</div>
