<div class="user-block">
	<div class="user-block__inner">
		<label class="user-block__label" for="user-name">
			Имя: *
		</label>
		<input
		class="user-block__input"
		type="text"
		name="name"
		id="user-name"
		placeholder="Введите ваше имя"
		required
		>
		<label class="user-block__label" for="user-surname">
			Фамилия: *
		</label>
		<input
		class="user-block__input"
		type="text"
		name="surname"
		id="user-surname"
		placeholder="Укажите фамилию"
		required
		>
		<label class="user-block__label" for="user-patronymic">
			Отчество:
		</label>
		<input
		class="user-block__input"
		type="text"
		name="patronymic"
		id="user-patronymic"
		placeholder="Ну и отчество тоже"
		>
	</div>
</div>
