/************************
 *       Features       *
 ************************/

.features {
	/* Mobile styles */
	position: relative;
	background-color: @bg-gray-color;
	&:before {
		position: absolute;
		content: '';
		display: block;
		border-top: 0 solid transparent;
		border-bottom: 35px solid transparent;
		border-left: 100vw solid white;
	}
	// &:after {
	// 	position: absolute;
	// 	content: '';
	// 	display: block;
	// 	bottom: 0;
	// 	width: 100vw;
	// 	height: 7px;
	// 	background-color: white;
	// }
	&__list {
		margin: 0;
		margin-bottom: 9px;
		padding: 0;
		padding-top: 82px;
		list-style-type: none;
	}
	&__title {
		margin: 0;
		margin-bottom: 11px;
		font-family: "Open Sans", Arial, sans-serif;
		font-size: 18px;
		font-weight: 700;
		line-height: 24px;
		color: @features-title-color;
		text-align: center;
	}
	&__text {
		margin: 0;
		margin-bottom: 32px;
		font-family: "Open Sans", Arial, sans-serif;
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		color: @features-text-color;
		text-align: center;
	}
	&__inner {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
	}
	.m-inner();
	@media(min-width: @tablet-breakpoint) and (max-width: @desktop-breakpoint) {
	/* Tablet styles */

	&:before {
		border-bottom: 56px solid transparent;
	}
	&__list {
		order: 1;
		padding-top: 77px;
		padding-left: 43px;
	}
	&__title {
		margin-bottom: 12px;
		text-align: left;
	}
	&__text {
		margin-bottom: 35px;
		text-align: left;
	}
	&__inner {
		flex-direction: row;
	}
	.t-inner();
	}
	@media(min-width: @desktop-breakpoint) {
	/* Desktop styles */

	.d-inner();
	}
}