/************************
 *     Main footer      *
 ************************/

.main-footer {
/* Mobile styles */
	.clearfix();
	&__inner {
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
	}

	&--toggle {
		display: none;
	}
	.m-inner();

@media(min-width: @tablet-breakpoint) and (max-width: @desktop-breakpoint) {
/* Tablet styles */
	.t-inner();
	&--toggle {
		display: block;
	}
}

@media(min-width: @desktop-breakpoint) {
/* Desktop styles */
	.d-inner();
	&--toggle {
		display: block;
	}
}

}

