/************************
*     Main footer      *
************************/

.main-footer {
	/* Mobile styles */
	&--toggle {
		display: none;
	}

	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 auto;
	}

	.m-inner();

	@media(min-width: @tablet-breakpoint) and (max-width: @desktop-breakpoint) {
		/* Tablet styles */
		.t-inner();
		&--toggle {
			display: block;
		}
		&__inner {
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-start;
		}
	}

	@media(min-width: @desktop-breakpoint) {
		/* Desktop styles */
		.d-inner();
		&--toggle {
			display: block;
		}
		&__inner {
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-start;
			padding: 64px 0;
			&--form {
				padding-top: 0;
				padding-bottom: 70px;
			}
		}
	}
}

