/************************
 *       Info           *
 ************************/

 .info {
 	/* Mobile styles */
	// .clearfix();
	background-color: @bg-color;
	&__list {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		width: 280px;
		padding: 0 37px;
		margin: 0 auto;
		margin-top: 30px;
		margin-bottom: 24px;
	}
	&__text {
		width: 280px;
		margin: 0 auto;
		padding-bottom: 29px;
		font-family: "Open Sans", Arial, sans-serif;
		font-size: 14px;
		font-weight: 300;
		line-height: 24px;
		color: white;
		text-align: center;
	}

	&__inner {
		margin: 0 auto;
		padding-top: 28px;
	}
	.m-inner();

	@media(min-width: @tablet-breakpoint) and (max-width: @desktop-breakpoint) {
	/* Tablet styles */
	position: absolute;
	width: 100vw;
	max-width: 100%;
	top: 350px;
	background-color: transparent;
	&__list {
		width: 300px;
		padding: 0 48px;
		margin: 0;
		margin-top: 44px;
		margin-bottom: 36px;
	}
	&__text {
		width: 300px;
		margin: 0;
		padding-left: 0px;
		font-size: 18px;
		line-height: 24px;
		text-align: center;
	}

	&__inner {
		margin: 0 auto;
		// padding-top: 28px;
	}
}
.t-inner();
@media(min-width: @desktop-breakpoint) {
	/* Desktop styles */

	.d-inner();
}
}