/************************
 *       Intro          *
 ************************/

.intro {
	/* Mobile styles */
	// .clearfix();
	background-color: @bg-color;
	background-image: url(../img/background-mobile@1x.jpg);
	background-position-x: center;
	background-position-y: -2px;
	background-repeat: no-repeat;

	&__title {
		margin: 0;
		margin-bottom: 29px;
		padding-top: 87px;
		font-family: "Open Sans", Arial, sans-serif;
		font-size: 24px;
		font-weight: 300;
		line-height: 28px;
		color: white;
		text-align: center;
	}
	&__img {
		position: relative;
		right: 31px;
		height: 286px;
		background-image: url(../img/iphone-hand-mobile.png);
		background-position-x: center;
		background-position-y: 0px;
		background-repeat: no-repeat;
	}

	&__inner {
		margin: 0 auto;
	}
	.m-inner();

	@media(min-width: @tablet-breakpoint) and (max-width: @desktop-breakpoint) {
		/* Tablet styles */

		.t-inner();
	}

	@media(min-width: @desktop-breakpoint) {
		/* Desktop styles */

		.d-inner();
	}
}