/************************
 *       Intro          *
 ************************/

.intro {
	/* Mobile styles */
	.clearfix();
	background-color: @bg-color;
	background-image: url(../img/bg-mobile.jpg);
	background-position-x: center;
	background-position-y: 0px;
	background-repeat: no-repeat;

	&__title {
		margin: 0;
		margin-bottom: 345px;
		padding-top: 87px;
		font-family: "Open Sans", Arial, sans-serif;
		font-size: 24px;
		font-weight: 300;
		line-height: 27px;
		color: white;
		text-align: center;
	}
	&__list {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		padding: 0 37px;
		margin-top: 29px;
		margin-bottom: 24px;
	}
	&__text {
		margin: 0;
		padding-bottom: 29px;
		font-family: "Open Sans", Arial, sans-serif;
		font-size: 14px;
		font-weight: 300;
		line-height: 24px;
		color: white;
		text-align: center;
	}

	&__inner {
		margin: 0 auto;
	}
	.m-inner();

	@media(min-width: @tablet-breakpoint) and (max-width: @desktop-breakpoint) {
		/* Tablet styles */

		.t-inner();
	}

	@media(min-width: @desktop-breakpoint) {
		/* Desktop styles */

		.d-inner();
	}
}