.logo-footer {
	font-size: 0;
		&:hover .pink {
			fill: @pink;
		}
		&:active .fade {
			fill: fade(@pink,30%);
		}
	@media(min-width: @tablet-breakpoint) and (max-width: @desktop-breakpoint) {
	/* Tablet styles */
		padding-top: 37px;
	}
	@media(min-width: @desktop-breakpoint) {
	/* Desktop styles */

	}
}