/************************
 *        Promo         *
 ************************/

.promo {
	/* Mobile styles */

	&__inner {
		margin: 0 auto;
		padding-top: 42px;
		padding-bottom: 0;
	}
	&__title {
		margin-top: 0;
		margin-bottom: 31px;
		padding: 0 0;
		font-family: "Open Sans", Arial, sans-serif;
		font-size: 24px;
		font-weight: 300;
		line-height: 28px;
		color: @promo-color;
		text-align: center;
		.textoverflow();
	}
	&__text {
		margin-top: 4px;
		margin-bottom: 31px;
		padding: 0;
		font-family: "Open Sans", Arial, sans-serif;
		font-size: 14px;
		font-weight: 400;
		line-height: 30px;
		color: @promo-color;
		text-align: center;
		&--hide {
			display: none;
		}
	}
	.m-inner();

	@media(min-width: @tablet-breakpoint) and (max-width: @desktop-breakpoint) {
	/* Tablet styles */
	&__inner {
		padding-top: 53px;
		padding-bottom: 44px;
		&--form {
			padding-bottom: 32px;
		}
	}
	&__title {
		padding: 0 0;
		margin-bottom: 4px;
		font-size: 40px;
		line-height: 40px;
		&--narrow {
			width: 400px;
			margin: 0 auto;
			line-height: 48px;
		}
	}
	&__text {
		margin: 0;
		font-size: 18px;
		line-height: 30px;
		&--hide {
			display: block;
		}
		&--form {
			padding: 0 35px;
			padding-top: 40px;
		}
	}

		.t-inner();
	}
	@media(min-width: @desktop-breakpoint) {
	/* Desktop styles */
	&__inner {
		padding: 0 70px;
		padding-top: 71px;
		padding-bottom: 76px;
		&--form {
			padding-top: 92px;
			padding-bottom: 32px;
		}
	}
	&__title {
		padding: 0 0;
		margin-bottom: 5px;
		font-size: 50px;
		line-height: 50px;
		&--narrow {
			width: 420px;
			margin: 0 auto;
			line-height: 60px;
		}
	}
	&__text {
		margin: 0;
		font-size: 18px;
		line-height: 30px;
		&--hide {
			display: inline;
		}
		white-space: pre-wrap;
	}
	.d-inner();
	}
}