/************************
 *       Reviews        *
 ************************/

.reviews {
	/* Mobile styles */
	padding-top: 42px;
	padding-bottom: 42px;
	&__inner {
		margin: 0 auto;
	}
	.m-inner();
	@media(min-width: @tablet-breakpoint) and (max-width: @desktop-breakpoint) {
	/* Tablet styles */
	padding-top: 70px;
	padding-bottom: 20px;
	.t-inner();
	}
	@media(min-width: @desktop-breakpoint) {
	/* Desktop styles */
		.d-inner();
	}
}