/************************
 *     App Screens      *
 ************************/

.screens {
	/* Mobile styles */
	// .clearfix();
	margin: 0;
	padding: 0;
	list-style-type: none;

	&__item {
	margin: 0 61px;
	padding-top: 33px;
	background-image: url(../img/iphone-case-mobile@1x.png);
	background-size: cover;
	background-position: center 0;
	background-repeat: no-repeat;
		&:nth-child(1),&:nth-child(2) {
			display: none;
		}
	}
	&__img {
		display: block;
		margin: 0 auto;
	}


	@media(min-width: @tablet-breakpoint) and (max-width: @desktop-breakpoint) {
	/* Tablet styles */

	}
	@media(min-width: @desktop-breakpoint) {
	/* Desktop styles */

	}
}