@mobile-breakpoint: 320px;
@tablet-breakpoint: 480px;
@desktop-breakpoint: 1200px;

@mobile-inner: 280px;
@tablet-inner: 620px;
@desktop-inner: 940px;

@pink: #d22856;
@bg-color: #1d2631;
@bg-gray-color: #f2f2f2;
@toggle-color: #fff;

@promo-color: #283645;

@features-title-color: #000;
@features-text-color: @promo-color;

@review-title-color: #000;
@review-text-color: @promo-color;

@pagination-bg-color: #bec2c7;
@pagination-border-color: @promo-color;
